<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>554752661616-igti3bglqa0a08s9l95jd5piuoprob8n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.554752661616-igti3bglqa0a08s9l95jd5piuoprob8n</string>
	<key>API_KEY</key>
	<string>AIzaSyCBkGp8j4M8XbjX7WAnzyY9QjQjo4_WOgc</string>
	<key>GCM_SENDER_ID</key>
	<string>554752661616</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.neteshpaudel.notificationdemo</string>
	<key>PROJECT_ID</key>
	<string>notification-b5afa</string>
	<key>STORAGE_BUCKET</key>
	<string>notification-b5afa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:554752661616:ios:4c4c7614a71e13ec223cb5</string>
</dict>
</plist>